/*  动画闪烁颜色  */
@-webkit-keyframes greenPulse {
    from { background-color: #b2da02; -webkit-box-shadow: 0 0 9px #c8c8c8; }
    50% { background-color: #b8e809; -webkit-box-shadow: 0 0 28px #bbec09; }
    to { background-color: #a7da02; -webkit-box-shadow: 0 0 9px #d1d1d1; }
}

@-webkit-keyframes bluePulse {
    from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
    to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}


@-webkit-keyframes magentaPulse {
    from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
    to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

/*  重复动画  */
.animationRepeat{-webkit-animation-iteration-count: infinite;}

/*  动画名称、动画完成时间  */
.greenPulse.button{-webkit-animation-name:greenPulse;-webkit-animation-duration: 3s;}
.bluePulse.button{-webkit-animation-name:bluePulse;-webkit-animation-duration:3s;}
.magentaPulse.button{-webkit-animation-name:magentaPulse;-webkit-animation-duration:3s;}
