@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea {
    margin: 0;
    padding: 0;
    
    color: #000;
    font-family: 'microsoft yahei', verdana, Tahoma;
}

a{ text-decoration:none} 

ol, ul, li {
    list-style: none;
    line-height: 22px;
}

ol, ul {
    zoom: 1;
}


img {
    border: none;
    max-width: 100%;
}

a, a:link, a:visited {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration:none;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
    border: solid 1px #666;
}

.clear {
    clear: both;
    float: none;
    overflow: hidden;
    height: 0;
    font-size: 0;
}

.clearFix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    content: ".";
}

.clearFix {
    zoom: 1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.font {
    font: 14px/24px "Comic Sans MS";
}

:focus {
    outline: none;
}

.css3pie {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* behavior: url(css3pie/PIE.htc); */
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    font-size: 14px;
    font-family: "黑体-简", "黑体", "微软雅黑", Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    overflow-x: hidden;
    /* background-image: url("../images/EarthMap.jpg"); */
    /* background-image: url("../images/backgroundimg.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar { 
    display: none;  
}
.wrap {
   width: 100%;

}
@media(min-width: 1200px){
    .mainblock {
        max-width: 61.8%;
    }
}


/*一级导航*/
.nav-main {
    position: fixed;
    top: 0;
    z-index: 12;
    height: 100%;
    width: 100px;
    color: #fff;
    background: rgba(17, 18, 19, 0.4);
}

.nav-main a {
    color: #fff;
}

.nav-box {
    position: relative;
    perspective: 200px;
    -webkit-perspective: 200px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    height: 100%;
    z-index: 99;
}

.nav-ul li a {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

.nav-ul li a:before {
    content: '';
    position: absolute;
    left: -240px;
    top: 0px;
    width: 200px;
    height: 100%;
    background: #629feb;
    z-index: 1;
    transform: skew(30deg, 0);
    -webkit-transform: skew(30deg, 0);
    -ms-transform: skew(30deg, 0);
    -moz-transform: skew(30deg, 0);
    -o-transform: skew(30deg, 0);
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

.nav-ul li a:hover {
    background: #357dd7;
    text-decoration:none;
}

.nav-ul li a:hover:before {
    left: -30px;
}

.nav-ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 20px;
    z-index: 1;
}

.nav-ul li a span {
    display: block;
    margin-top: 60px;
    perspective:;
    position: relative;
    z-index: 1;
}

.nav-slide {
    position: fixed;
    left: 100px;
    top: 0;
    width: 240px;
    height: 100%;
    background: #252829;
    transform: rotateY(120deg);
    -webkit-transform: rotateY(120deg);
    -moz-transform: rotateY(120deg);
    -o-transform: rotateY(120deg);
    -ms-transform: rotateY(120deg);
    z-index: 99;
    visibility: hidden;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition-timing-function: cubic-bezier(.08, .72, .71, .96);
    -webkit-transition-timing-function: cubic-bezier(.08, .72, .71, .96);
}

.nav-slide.hover {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 15;
    visibility: visible;
}

/*二级菜单*/
.nav-slide-o li a {
    line-height: 50px;
    display: block;
    padding: 0 20px;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.nav-slide-o li a:before {
    content: '';
    position: absolute;
    left: -230%;
    top: 0px;
    width: 200%;
    height: 100%;
    background: #629feb;
    z-index: 1;
    transform: skew(30deg, 0);
    -webkit-transform: skew(30deg, 0);
    -moz-transform: skew(30deg, 0);
    -o-transform: skew(30deg, 0);
    -ms-transform: skew(30deg, 0);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.nav-slide-o li a:hover {
    background: #357dd7;
    text-decoration:none;
}

.nav-slide-o li a:hover:before {
    left: -60px;
}

.nav-slide-o li a span {
    position: relative;
    z-index: 1;
}

.nav-slide-o {
    display: none;
}

.right-menu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 12;
    color: #fff;
    background: rgba(17, 18, 19, 0.41);
}
.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 15vw;
    background: #fff;
    height: 100vh;
    overflow-y: auto;
}

.button_box {
    width: 902px;
    margin: 40px auto 0 auto;
}

.button_link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    /* font-size: 15px; */
    color: #33ab6a;
    /*font-weight: bold;*/
    /* width: 255px; */
    text-align: center;
    /* height: 100px; */
    /* line-height: 56px; */
    border: 2px solid rgba(255, 88, 88, 0);
    margin: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.button_link:hover {
    border: 2px solid rgb(112, 198, 255);
}

.button_link .line {
    display: inline-block;
    background-color: rgb(112, 198, 255);
    position: absolute;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.button_link .line_top {
    height: 2px;
    width: 0;
    left: -50%;
    top: -2px;
}

.button_link:hover .line_top {
    width: 100%;
    left: -2px;
}

.button_link .line_right {
    height: 0;
    width: 2px;
    top: -50%;
    right: -2px;
}

.button_link:hover .line_right {
    height: 100%;
    top: -2px;
}

.button_link .line_bottom {
    width: 2px;
    height: 0;
    bottom: -50%;
    left: -2px;
}

.button_link:hover .line_bottom {
    height: 100%;
    bottom: -2px;
}

.button_link .line_left {
    height: 2px;
    width: 0;
    right: -50%;
    bottom: -2px;
}

.button_link:hover .line_left {
    width: 100%;
    right: -2px;
}



/*图片样式*/
.img-circle{
    border-radius: 50%;
}
.img-samllsize{
    height: 100px;
    width: 100px;
}
.leftmenuli{
    line-height: 50px;
    color: white;
    font-weight: 900;
}
.leftmenuli:hover{
    background-color: rgb(24, 219, 105);
}
.noradius{
    border-radius: 0;
    border-radius: 0 !important
}
.fontStrong{
    font-size: 20px;
    font-weight: 900;
}
.websitesentence{
    margin-top: 5px;
}